.App {
  text-align: center;
}

.App-logo {
  height: 6.5em;
  pointer-events: none;
}

.title {
  margin-top: 0em;
  margin-bottom: 0em;
}
.description{
    margin-top: 0em;
    margin-bottom: 0.5em;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #787c7f;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ol, ul {
  padding-left: 30px;
}

.board-slider{
  display: inline-block;
}

.board-row {
  margin-left: auto;
  margin-right: auto;
  display: table;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 15px;
  color: #62dafb;
}

.win {
  color: #37bb61;
}

.current {
  color: #b8f0ff;
}

.past {
  color: #ff934d;
}

.square {
  color: #62dafb;
  background: #434956;
  border: 1px solid #48a0b9;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  padding-top: .1em;
  padding-bottom: .5em;
  display: table;
  margin: auto;
}

.game-info {
  margin-left: 20px;
}
.history-container  {
  min-height: 177px;
}

.history {
  padding: 0px;
  margin-left: 10px;
  margin-top: 0px;
  margin-bottom: .5em;
}
.history-description {
  margin-bottom: 0px;
  margin-top: 0px;
}
.history-item {
  display: inline-flex;
  margin-right: 10px;
}

.restart-button {
  background-color: #434956;
  border: none;
  color: #62dafb;
  padding: 5px 11px 5px 11px;
  margin-bottom: 20px;
  outline: 1px solid #476d78;
  cursor: pointer;
}

.restart-button:focus {
  background-color: #292c34;
  outline: 1px solid #317182;
}

.MuiSlider-thumb:hover {
  box-shadow: 0px 0px 0px 8px rgb(98 218 251 / 0.1);
} 